<div class="mt-2 p-2 border rounded bg-grey-100">
  <div class="mb-3 text-lg">
    <%= post.body %>
  </div>
  <span class="opacity-50">
    <strong><%= post.username %></strong>
    <small><%= time_ago_in_words post.created_at %> ago</small>
  </span>

  <%= link_to '#', class: "ml-2 text-sm text-blue-500 underline",
    data: { reflex: "click->PostsReflex#repost", id: post.id } do %>

    <%= tag.span post.repost_count, id: dom_id(post, "reposts") %> Reposts
  <% end %>
  <%= link_to '#', class: "ml-2 text-sm text-blue-500 underline", 
    data: { reflex: "click->PostsReflex#like", id: post.id } do %>
    
    <%= tag.span post.likes_count, id: dom_id(post, "likes") %> Likes
  <% end %>
</div>

